In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("../data/data.csv")

In [3]:
df

,restaurant_names,food_names,first_name,food_cost
0,the-restaurant-at-the-end-of-the-universe,grains,Robert,1.0
1,the-ice-cream-parlor,pasta,Alexandra,1.0
2,johnnys-cashew-stand,cookies,Amy,4.0
3,the-ice-cream-parlor,sugar,Michele,1.0
4,johnnys-cashew-stand,ice cream,Ryan,7.0
...,...,...,...,...
149995,bean-juice-stand,yogurt,Nicholas,7.5
149996,johnnys-cashew-stand,candy,Latoya,4.0
149997,the-ice-cream-parlor,cookies,Isaac,8.5
149998,the-restaurant-at-the-end-of-the-universe,chips,Luke,9.0
149999,the-ice-cream-parlor,honey,Jennifer,6.0

In [5]:
df['restaurant_names'].value_counts()

restaurant_names
johnnys-cashew-stand                         37909
bean-juice-stand                             37631
the-restaurant-at-the-end-of-the-universe    37230
the-ice-cream-parlor                         37230
Name: count, dtype: int64

In [7]:
df[df['restaurant_names']=='the-restaurant-at-the-end-of-the-universe']['food_cost'].sum()

186944.0

In [21]:
for i in df['restaurant_names'].unique():
    # print(i)
    temp = df[df['restaurant_names']==i]
    most_freq = temp['food_names'].mode().iloc[0]
    print(f"most popular for {i} is {most_freq}")

most popular for the-restaurant-at-the-end-of-the-universe is cheese
most popular for the-ice-cream-parlor is beans
most popular for johnnys-cashew-stand is juice
most popular for bean-juice-stand is honey

In [42]:
for i in df['restaurant_names'].unique():
    # print(i)
    temp = df[df['restaurant_names']==i]
    most_visit = temp['first_name'].mode()
    most_freq = list(temp['food_names'].mode())
    if len(most_freq) == 1:
        print(f"most popular for {i} is {most_freq[0]}")
        print(f"most frequent visitor for {i} is {most_visit[0]}")
    else:
        print(f"most popular for {i} is {most_freq}")
        print(f"most frequent visitor for {i} is {most_visit}")
    grouped = temp.groupby("food_names",as_index=False)['food_cost'].sum()
    print(grouped.loc[grouped["food_cost"].idxmax()])
    print("---------------------")

most popular for the-restaurant-at-the-end-of-the-universe is cheese
most frequent visitor for the-restaurant-at-the-end-of-the-universe is Michael
food_names    cheese
food_cost     5861.5
Name: 4, dtype: object
---------------------
most popular for the-ice-cream-parlor is beans
most frequent visitor for the-ice-cream-parlor is Michael
food_names    coffee
food_cost     5789.5
Name: 8, dtype: object
---------------------
most popular for johnnys-cashew-stand is juice
most frequent visitor for johnnys-cashew-stand is Michael
food_names     juice
food_cost     5989.0
Name: 17, dtype: object
---------------------
most popular for bean-juice-stand is honey
most frequent visitor for bean-juice-stand is Michael
food_names     honey
food_cost     5945.5
Name: 15, dtype: object
---------------------

In [49]:
freq = df['first_name'].value_counts().idxmax()
print(f"Most Frequent Store Visitor is {freq}")

Most Frequent Store Visitor is Michael